.header {
  @apply bg-purple-500;
}
.sideBar {
  position: fixed !important;
  border-color: #d29a5a !important;
  border-right-width: 4px !important;
  @apply h-screen top-0 z-[1111]
    bg-transparent;

  .menuContainer {
    @apply p-5 h-full;
    .logoContainer {
      @apply w-full h-[calc(100%-40px)]  flex items-center justify-start;
      .logo {
        @apply -rotate-90 -translate-x-1/3 w-[300px] max-w-[unset];
      }
    }

    .bars {
      @apply w-full;
      svg {
        @apply mx-auto;
      }
    }
  }
}
